table {
	background-color: yellow;
	border: 1px solid black;
	border-collapse: collapse;
}

caption {
	font-weight: bold;
	margin-bottom: 8px;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

